name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: "20"
      - run: npm ci
      - run: npm run test
      - run: npm run check-types lint
